version: "3.9"
services:
  db:
    image: ankane/pgvector:latest
    container_name: ellipsa-db
    environment:
      POSTGRES_USER: ellipsa
      POSTGRES_PASSWORD: ellipsa
      POSTGRES_DB: ellipsa
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: ellipsa-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
volumes:
  db_data:
